<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text = "#{rp.view-basket.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
</head>
<body>
    <p><h1><b th:text = "#{rp.view-basket.header}"></b></h1></p>
	
	 <form id="checkoutForm" action="#" th:action="@{/routeplanner/add-ticket}" th:object="${ticket}" method="post">

		<div class="mainDiv">
		
			<label th:text="#{rp.basket.add.ticket.title.prefix} + ' ' + ${session.mostRecentQuery.currRouteStart} 
								+ ' ' + #{rp.basket.add.ticket.title.to} + ' ' + ${session.mostRecentQuery.currRouteDest}" 
							class="header">
			</label>

			<br />
		
		    <table>
		    	<tr>
					<td align="right">	    	
						<label th:text = "#{rp.basket.ticket.type}"></label>
					</td>
					<td align="left">	    	
						<select th:field="*{ticketType}" width="200px">
	               			<option th:each="tt : ${session.ticketTypeList}"
	                       			th:text="#{${tt.description}}"
	                       			th:value="${tt}"></option>
		       			</select>
					</td>
		    	</tr>
		    	<tr>
					<td align="right">	    	
						<label th:text = "#{rp.basket.passenger.type}"></label>
					</td>
					<td align="left">	    	
						<select th:field="*{passengerType}" width="200px">
	             				<option th:each="pt : ${session.passengerTypeList}"
	             						th:text="#{${pt.type}}"
	                     				th:value="${pt}"></option>
		       			</select>
					</td>
		    	</tr>
		    	<tr>
					<td align="right">	    	
						<label th:text = "#{rp.basket.num-units}"></label>
					</td>
					<td align="left">	    	
						<select th:field="*{numUnits}" width="50px">
					    	<option th:each="n : ${#numbers.sequence(1,10)}" th:value="${n}" th:text="${n}"/>
						</select>
					</td>
		    	</tr>
		    	<tr>
					<td align="right">	    	
						<label th:text="#{rp.basket.travel.date}"></label>
					</td>
					<td align="left">	    	
						<input type="date" th:field="*{{travelDate}}" placeholder="yyyy-MM-dd"/>
					</td>
		    	</tr>
		    </table>
	 	</div>
	 	<p><input class="formButton" type="submit" value="Add Ticket" th:attr="value=#{rp.basket.add.ticket}" align="center"/></p>
	 </form>
	 	 
	 
	 
	 <div class="mainDiv">   
		 <label th:text="#{rp.basket.contents.title}" class="header"></label>
		 <!-- <div th:if="*{tickets != null and tickets.size() > 0}"> -->
		 <div th:if="${session.shopping.basket.tickets.size() > 0}">
		 	 <table class="open-table">
				 <tr>
			         <th><label class="table-header" th:text = "#{rp.basket.select}"></label></th>
			         <th><label class="table-header" th:text = "#{rp.basket.ticket.type}"></label></th>
			         <th><label class="table-header" th:text = "#{rp.basket.passenger.type}"></label></th>
			         <th><label class="table-header" th:text = "#{rp.basket.num-units}"></label></th>
			         <th><label class="table-header" th:text = "#{rp.basket.travel.date}"></label></th>
			         <th><label class="table-header" th:text = "#{rp.query.start}"></label></th>
			         <th><label class="table-header" th:text = "#{rp.query.destination}"></label></th>
	  		     </tr>
				 <tr th:each="item : ${session.shopping.basket.tickets}">
			         <!-- <td><input type="radio" th:field="*{radioButtonSelectedValue}" th:value="${item.id}" /></td> -->
			         <td><label th:text="#{${item.ticketType.description}}"></label></td>
   				     <td><label th:text="#{${item.passengerType.type}}"></label></td>
			         <td><label th:text="${item.numUnits}"></label></td>
			         <td><label th:text="${item.travelDate}"></label></td>
			         <td><label th:text="${item.routeQuery.currRouteStart}"></label></td>
			         <td><label th:text="${item.routeQuery.currRouteDest}"></label></td>
			         <td>
				         <form th:action="@{remove_ticket}" method="post">
			                  <input type="hidden" name="id" th:value="${item.id}" />
			                  <input type="submit" value="Remove" th:attr="value=#{rp.btn.remove}" class="button-link"/>
			             </form>
		             </td>   
			     </tr>
			 </table>
		 </div>

		 <div th:if="*{session.shopping.basket.tickets.size() == 0}">
		 	<label th:text="#{rp.basket.no.contents.msg}" class="table-msg"></label>
		 </div>
		 
	 </div>

	 
	<!-- table to display buttons horizontally -->
	<form id="submitBasketForm" action="#" th:action="@{/routeplanner/go-to-checkout-person-details}" th:object="${basket}" method="post"> 
		<table>
			<tr>
				<td>
	 				<p><input class="formButtonProceed" type="submit" value="Place Order" th:attr="value=#{rp.basket.submit}" /></p>
	 			</td>			
				<td>
					<form action="#" th:action="@{/routeplanner/new-search}" method="post">
					 	<p><input type="submit" class="formButton" value="Add Another Journey" th:attr="value=#{rp.view-basket.add.journey}" align="center"/></p>
					</form>
				</td>
			</tr>
		</table>
	</form>
	 
    <div th:insert="navbar">  </div>
	 	 
</body>
</html>








