<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text = "#{rp.sale-confirm.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/global.css}" rel="stylesheet" />    
</head>
<body>
    <p><h1><b th:text = "#{rp.sale-confirm.header}"></b></h1></p>
	 	
	 <form action="#" th:action="@{/routeplanner/new-search}" method="post">
	 	<p><input type="submit" class="formButtonProceed" value="Continue" th:attr="value=#{rp.sale-confirm.continue}" align="center"/></p>
	 </form>
	 
	 <!-- just dump some appropriate values for now............. -->
	 
	 <p th:text="'Username: ' + ${session.shopping.purchase.user.username}" th:unless="${session == null}"> . </p>
	 <p th:text="'Email: ' + ${session.shopping.purchase.user.email}" th:unless="${session == null}"> . </p>
	 <p th:text="'Transaction date: ' + ${session.shopping.purchase.transactionDate}" th:unless="${session == null}"> . </p>
	 <p th:text="'Name on card: ' + ${session.shopping.purchase.order.paymentInfo.nameOnCard}" th:unless="${session == null}"> . </p>
	 <p th:text="#{rp.cardtype.label.colon} + ' ' + #{${session.shopping.purchase.order.paymentInfo.cardType.code}}" th:unless="${session == null}"> . </p>
	 <p th:text="'Card number: ' + ${session.shopping.purchase.order.paymentInfo.cardNumber}" th:unless="${session == null}"> . </p>
	 <p th:text="'Title: ' + ${session.shopping.purchase.order.contactDetails.title}" th:unless="${session == null}"> . </p>
	 <p th:text="'Fullname: ' + ${session.shopping.purchase.order.contactDetails.fullname}" th:unless="${session == null}"> . </p>
	 <p th:text="'Address line 1: ' + ${session.shopping.purchase.order.contactDetails.addressLine1}" th:unless="${session == null}"> . </p>
	 <p th:text="'Address line 2: ' + ${session.shopping.purchase.order.contactDetails.addressLine2}" th:unless="${session == null}"> . </p>
	 <p th:text="'Address line 3: ' + ${session.shopping.purchase.order.contactDetails.addressLine3}" th:unless="${session == null}"> . </p>
	 <p th:text="'City: ' + ${session.shopping.purchase.order.contactDetails.city}" th:unless="${session == null}"> . </p>
	 <p th:text="'Region: ' + ${session.shopping.purchase.order.contactDetails.regionOrState}" th:unless="${session == null}"> . </p>
	 <p th:text="'Country: ' + ${session.shopping.purchase.order.contactDetails.country}" th:unless="${session == null}"> . </p>
	 <p th:text="'Email: ' + ${session.shopping.purchase.order.contactDetails.email}" th:unless="${session == null}"> . </p>
	 <p th:text="'Mobile Tel: ' + ${session.shopping.purchase.order.contactDetails.mobileTel}" th:unless="${session == null}"> . </p>
	 <p th:text="'Home Tel: ' + ${session.shopping.purchase.order.contactDetails.homeTel}" th:unless="${session == null}"> . </p>
	 <p th:text="'Office Tel: ' + ${session.shopping.purchase.order.contactDetails.officeTel}" th:unless="${session == null}"> . </p>
	 
	 <p><h1><b th:text = "Tickets.............."></b></h1></p>
	 
	 <table class="open-table">
		 <tr th:each="item : ${session.shopping.purchase.order.basket.tickets}">
	        <p th:text = "'***** NEXT TICKET..............'"></p>
	        <p th:text="'Ticket type: ' + #{${item.ticketType.description}}" th:unless="${session == null}"> . </p>
	        <p th:text="'Passenger type: ' + #{${item.passengerType.type}}" th:unless="${session == null}"> . </p>
	        <p th:text="'Number tickets: ' + ${item.numUnits}" th:unless="${session == null}"> . </p>
	        <p th:text="'Date of travel: ' + ${item.travelDate}" th:unless="${session == null}"> . </p>
	        <p th:text="'Start station: ' + ${item.routeQuery.currRouteStart}" th:unless="${session == null}"> . </p>
			<p th:text="'Destination station: ' + ${item.routeQuery.currRouteDest}" th:unless="${session == null}"> . </p>
			<br />
	     </tr>
	 </table>
	 	
	 <div th:insert="navbar">  </div>
	 	 
</body>
</html>





