<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text = "#{rp.checkout.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <script th:src="|/js/global.js|"></script>
</head>
<body>

		<div th:fragment="add-contact-details-box" class="mainDiv">
		    <p><label th:text = "#{rp.person.add.contact.details}" class="header"></label></p>
		        <div>
				 	<table>
				 		<tr>
				 			<td align="right">
				 				<label th:text = "#{rp.person.title}"></label>
				 				<p/>
				 			</td>
				 			<td align="left">
								<select th:field="*{title}" width="80px">
		             				<option th:each="ti : ${session.titleList}"
		             						th:text="#{'' + ${ti}}"
		                     				th:value="#{'' + ${ti}}"></option>
				       			</select>
				       			<p/>
				 			</td>
				 			<td align="right">
				 				<label th:text = "#{rp.person.fullname}"></label>
				 				<p/>	
				 			</td>
				 			<td align="left">
				 				<input type="text" th:field="*{fullname}" />
								<div th:if="${fullname} != null">
							 		<p class="errorMsg"><label th:text = "#{'' + ${fullname}}"></label></p>
							 	</div>
								<div th:if="${fullname} == null">
							 		<p class="errorMsg"><label th:text = "' '"></label></p> 
							 	</div> 	
				 			</td>
				 		</tr>
				 		<tr>
				 			<td align="right">
				 				<label th:text = "#{rp.person.address.line1}"></label>
				 				<p/>		
				 			</td>
				 			<td align="left">
				 				<input class="form-field-space" type="text" th:field="*{addressLine1}" />
				 				<p class="errorMsg"><label th:text = "${badFieldAddressLine1}"></label></p>
				 				<div th:if="${addressLine1} != null">
							 		<p class="errorMsg"><label th:text = "#{'' + ${addressLine1}}"></label></p>
							 	</div>
								<div th:if="${addressLine1} == null">
							 		<p class="errorMsg"><label th:text = "' '"></label></p> 
							 	</div>
				 			</td>
				 			<td align="right">
				 				<label th:text = "#{rp.person.city}"></label>
				 				<p/>	
				 			</td>
				 			<td align="left">
				 				<input type="text" th:field="*{city}" />
				 				<div th:if="${city} != null">
							 		<p class="errorMsg"><label th:text = "#{'' + ${city}}"></label></p>
							 	</div>
								<div th:if="${city} == null">
							 		<p class="errorMsg"><label th:text = "' '"></label></p> 
							 	</div>
				 			</td>
				 		</tr>
				 		<tr>
				 			<td align="right">
				 				<label th:text = "#{rp.person.address.line2}"></label>	
				 				<p/>
				 			</td>
				 			<td align="left">
				 				<input class="form-field-space" type="text" th:field="*{addressLine2}" />
				 				<p/>	
				 			</td>
				 			<td align="right">
				 				<label th:text = "#{rp.person.regionOrState}"></label>
				 				<p/>	
				 			</td>
				 			<td align="left">
				 				<input type="text" th:field="*{regionOrState}" />	
				 				<div th:if="${regionOrState} != null">
							 		<p class="errorMsg"><label th:text = "#{'' + ${regionOrState}}"></label></p>
							 	</div>
								<div th:if="${regionOrState} == null">
							 		<p class="errorMsg"><label th:text = "' '"></label></p> 
							 	</div>
				 			</td>
				 		</tr>
				 		<tr>
				 			<td align="right">
				 				<label th:text = "#{rp.person.address.line3}"></label>
				 				<p/>	
				 			</td>
				 			<td align="left">
				 				<input class="form-field-space" type="text" th:field="*{addressLine3}" />
				 				<p/>	
				 			</td>
				 			<td align="right">
				 				<label th:text = "#{rp.person.country}"></label>
				 				<p/>		
				 			</td>
				 			<td align="left">
				 				<input type="text" th:field="*{country}" />
				 				<div th:if="${country} != null">
							 		<p class="errorMsg"><label th:text = "#{'' + ${country}}"></label></p>
							 	</div>
								<div th:if="${country} == null">
							 		<p class="errorMsg"><label th:text = "' '"></label></p> 
							 	</div>
				 			</td>
				 		</tr>
				 		<tr>
				 			<td align="right">
				 				<label th:text = "#{rp.person.mobile-tel}"></label>
				 				<p/>	
				 			</td>
				 			<td align="left">
				 				<input class="form-field-space" type="text" th:field="*{mobileTel}" />
				 				<p/>
				 				<div th:if="${mobileTel} != null">
							 		<p class="errorMsg"><label th:text = "#{'' + ${mobileTel}}"></label></p>
							 	</div>
								<div th:if="${mobileTel} == null">
							 		<p class="errorMsg"><label th:text = "' '"></label></p> 
							 	</div>
				 			</td>
				 			<td align="right">
				 				<label th:text = "#{rp.person.email}"></label>		
				 				<p/>
				 			</td>
				 			<td align="left">
				 				<input type="text" th:field="*{email}" />
				 				<div th:if="${email} != null">
							 		<p class="errorMsg"><label th:text = "#{'' + ${email}}"></label></p>
							 	</div>
								<div th:if="${email} == null">
							 		<p class="errorMsg"><label th:text = "' '"></label></p> 
							 	</div>
				 			</td>
				 		</tr>
				 		<tr>
				 			<td align="right">
				 				<label th:text = "#{rp.person.home-tel}"></label>
				 				<div th:if="${homeTel} != null">
							 		<p class="errorMsg"><label th:text = "#{'' + ${homeTel}}"></label></p>
							 	</div>
								<div th:if="${homeTel} == null">
							 		<p class="errorMsg"><label th:text = "' '"></label></p> 
							 	</div>
				 			</td>
				 			<td align="left">
				 				<input class="form-field-space" type="text" th:field="*{homeTel}" />
				 				<p/>	
				 			</td>
				 			<td align="right">
				 			</td>
				 			<td align="left">
				 			</td>
				 		</tr>
				 	</table>
				 </div>
			</div>

</body>
</html>
