<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
</head>

<body>
    <div>
        <div th:fragment="navbar">
            <div>
                <table class="navbar-cell" >
                	<tr>
                		<div th:if="${session.shopping.user.roleLevel.id} < 2">
    						<td class="navbar-cell">
			                	<a th:href= "@{register}" th:text = "#{rp.nav.register}"></a>
							</td>
					    </div>                	


                        <div th:if="${session.shopping.user.roleLevel.id} == 3">
	    					<td class="navbar-cell">
	                				<a th:href= "@{admin_corner}" th:text = "#{rp.nav.admin}"></a>	                
							</td>
						</div>	
								
						
						<div th:if="${session.shopping.user.roleLevel.id} >= 2">						
							<td class="navbar-cell">
			                	<a th:href= "@{purchase_history}" th:text = "#{rp.nav.purchase-history}"></a>		                
							</td>
						</div>
						
												
						<td class="navbar-cell">
							<div><a th:href= "@{view_basket}" th:text = "#{rp.nav.view-basket}"></a></div>		
						</td>
						<td class="navbar-cell">
							<div><a th:href= "@{login}" th:text = "#{rp.nav.logout}"></a></div>		
						</td>
                	</tr>
                </table>                
            </div>
        </div>
    </div>
</body>	
	
    

</html>



